/* * general container */

/* * homepage */

div.start-quote {
    /* border: 1px red solid; */
    background: #ffffff !important;
}

div.start-quote p.quote {
    font-weight: 270;
    margin-top: 50px;
}

div.panel-area {
    /* border: 1px red solid; */
    padding: 100px 100px;
}

div.panel-area div.pointer {
    cursor: pointer;
    margin-top: 60px;
    /* border: 1px red solid; */
    padding: 20px;
}

div.pointer:hover {
    background-color: rgb(255, 196, 21, 0.7);
    border-radius: 2px;
    -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in, color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in, color 0.2s ease-in;
    -ms-transition: background-color 0.2s ease-in, color 0.2s ease-in;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.start-text {
    margin-top: 20px;
}

.bg-white {
    background: #ffffff !important;
}

div.seminar-title{
    /* background: #ffffff !important; */
}

div.seminar-banner {
    /* border: 1px red solid; */
}

div.seminar-area {
    /* border: 1px red solid; */
}

div.jasa-title {
    /* background: #ffffff !important; */
}

h5#zero-entry {
    text-align: center;
}

div.panel-area div.pointer:hover span {
    color: #ffc415;
    background-color: rgb(1, 56, 128);

    -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in, color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in, color 0.2s ease-in;
    -ms-transition: background-color 0.2s ease-in, color 0.2s ease-in;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

div.end-quote p.quote {
    font-weight: 270;
    margin-top: 50px;
    height: 10vh;
}

.iyt {
    padding-top: 0;
}

.iyt img {
    width: 100%;
}

div.end-quote div.container {
    padding: 10vh 0;
}


/* * homepage iyt */

.req-daftar {
    font-size: 11px;
    color: lightslategrey;
}
.w-iyt{
    background-color: rgb(1, 56, 128);
}

.badge-junior {
    color: #ffffff;
    background-color: #007BFF;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
}

.badge-senior {
    color: #ffffff;
    background-color: #ffc415;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
}

.w-iyt p {
    color: #ffffff;
}

.w-iyt ol li {
    margin: 10px 0;
    color: #ffffff;
    list-style: decimal !important;
}

.w-iyt ol li a {
    color: #ffc415;
}

.w-iyt ol li a:hover {
    color: rgb(255, 196, 21, 0.7);
}

.w-iyt ol ul {
    padding-left: 25px;
}

.w-iyt ul li {
    color: #ffffff;
    list-style-type: lower-alpha !important;
}

.w-iyt h1 {
    color: #ffffff;
    margin-bottom: 40px;
}

div.timeline-area {
    padding: 0;
}

.announce-iyt table {
    margin-top: 100px;
}

.end-iyt {
    background: rgb(255, 196, 21, 1) !important;
}

.end-iyt h3 {
    color: #ffffff !important;
}


/* Dropdown Button */

li.med-q-992 {
    display: none !important;
}

@media (max-width: 992px) {
    li.med-q-992 {
        display: block !important;
    }
}

.dropbtn {
    font-weight: 500;
    background-color: #ffc415;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropbtn i {
    font-size: 9px;
}

.dropdown-usr {
    position: relative;
    display: inline-block;
}

.dropdown-usr-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-usr-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-usr-content a:hover {
    background-color: #ddd;
}

.dropdown-usr:hover .dropdown-usr-content {
    display: block;
}

.img-logo {
    display: block;
    max-width: 52px;
    max-height: 52px;
    width: auto;
    height: auto;
}

.bg-seminar {
    background-image: url("../../img/seminar.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-jasa {
    background-image: url("../../img/jasa.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 300px;
    /* background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten; */
}

.bg-iyt {
    background-image: url("../../img/home-iyt.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 496px;
}

.highlight-biru-kuning {
    background: rgb(1, 56, 128);
    color: #ffc415;
    font-size: 30px;
    font-weight: 600;
    padding: 6px 17px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.quote {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 500;
}

.boxed-btn3-home {
    position: absolute;
    /* left: 50%;
    margin-left: -50%; */
    bottom: 50px;
    max-width: 100%;
    display: block;
    right: 0;
    left: 0;
    margin: auto;
}



.highlight-kuning-biru {
    background: #ffc415;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 600;
    padding: 6px 17px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 10px;
    /* right: 0;
    left: 0;
    bottom: 0;
    margin: auto; */
}

div.slider_text div.slider_span p.highlight-kuning-biru {
    background: #ffc415;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 500;
    display: inline-block;
    /* border: red solid 1px; */
}

.highlight-kuning-biru-kecil {
    background: #ffc415;
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 600;
    padding: 6px 17px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 10px;

    /* right: 0;
    left: 0;
    bottom: 0;
    margin: auto; */
}

.popular_catagory_area h3 {
    color: rgb(1, 56, 128);
}

.popular_catagory_area p {
    text-align: center;
    font-size: 22px;
}

@media (max-width: 992px) {

    .bg-img2,
    .bg-img3 {
        margin-top: 20px;
    }
}

.bg-img1 {
    background-image: url("../../img/interview.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 350px;
}

.bg-img2 {
    background-image: url("../../img/jobseek.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 350px;
}

.bg-img3 {
    background-image: url("../../img/workshop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 350px;
}

.bg-jumbotron {
    background-image: url("../../img/banner/bg-jumbotron-1.jpg");
}

/* * login-welcome */

.vh {
    height: 100vh;
}

.bg-its-1 {
    background-image: url("../../img/its-bg-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
}

.bg-login-1 {
    background:
        linear-gradient(rgb(93, 188, 210, 0.65),
            rgb(93, 188, 210, 0.65)),
        url("../../img/bg-login-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-login-2 {
    background:
        linear-gradient(rgb(93, 188, 210, 0.65),
            rgb(93, 188, 210, 0.65)),
        url("../../img/bg-login-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-login-3 {
    background:
        linear-gradient(rgb(93, 188, 210, 0.65),
            rgb(93, 188, 210, 0.65)),
        url("../../img/bg-login-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

p.text-search {
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 12px;
}

h3.text-search-title {
    color: rgb(1, 56, 128);
}

.container-tr {
    -moz-border-radius: 10px;
    /* for Firefox */
    -webkit-border-radius: 10px;
    /* for Webkit-Browsers */
    border-radius: 10px;
    /* regular */
    background-color: rgba(255, 255, 255, 0.4);
}

.btn-daftar {
    background: #ffc415;
    color: #fff;
    display: block;
    padding: 13px 29px 13px 29px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    border: 1px solid transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    color: #fff !important;
    text-transform: capitalize;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.btn-daftar:hover {
    color: #ffffff !important;
    border: 1px solid rgb(255, 196, 21);
    background: rgb(255, 196, 21, 0.5);
}

.btn-login {
    background: #0069d9;
    color: #fff;
    display: block;
    padding: 13px 29px 13px 29px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    border: 1px solid transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    color: #fff !important;
    text-transform: capitalize;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.btn-login:hover {
    color: #ffffff !important;
    border: 1px solid rgb(0, 105, 217);
    background: rgb(0, 105, 217, 0.5);
}

.no-margin {
    margin: 0px !important;
}
